build/
sdk/

*.apk
!dist/AirpodsOffFix-LSPosed-patch-v1.6.apk
*.idsig
*.keystore

*.log
*.txt
*.err
*.pid
*.db
*.db-*
*.bak*

frida-server*
*.xz
*.jar
*.so

dl_*.py
frida_*.py

Bluetooth/
MyDevices/
WirelessSettings/
melody/
oplusbt/
oplusbt_bad/
lspd-check/
lspd-live/
lspd-live-pull/
